
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark stylish-color-dark">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="#"><img src="/images/University-Logo.png" width="30" height="30" class="d-inline-block align-top" alt="University Logo">
  University</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/mobile/index.html">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mobile/history.html">History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mobile/Faculty.html">Faculty</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mobile/department.html.txt">Departments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mobile/Classes.html">Classes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mobile/calendar.html">Events</a>
            </li>
            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Media</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/mobile/videos.html">Videos</a>
                    <a class="dropdown-item" href="/mobile/videos.html">Podcast</a>
                </div>
            </li>
            <!-- End of dropdown -->
            <li class="nav-item">
                <a class="nav-link" href="/mobile/locateus.html">Locate Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mobile/info.html">Contact Us</a>
            </li>
        </ul>
        <!-- Links -->

        <!-- Search form -->
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        </form>
    </div>
    <!-- Collapsible content -->

</nav>
<!--/.Navbar-->
