* {
    margin: 0;
    padding: 0;
}

/*---------------------------*/
/*Header*/
/*---------------------------*/

.title {
    width: 90%;
    margin: 80px auto 20px auto; 
    text-align: center;
    text-transform: uppercase;
}

/*---------------------------*/
/*History Parts*/
/*---------------------------*/

.history {
    display: block;
    margin-left: 5%;
    margin-right: 5%;
}

.history-img img {
    display: block;
    width: 100%;
}

.history-contents {
    margin: 10px 15px;
}
.history-contents h2 {
    font-family: serif;
    font-size: 20px;
    text-align: left;
    line-height: 30px;
}

@media only screen and (min-width: 1000px) {
    
    .history {
        width: 90%;
        display: inline-block;
        margin-bottom: 50px;
    }
    
    .history-img {
        display: block;
        width: 45%;
        float: right;
    }
    
    .history-contents {
        display: block;
        width: 45%;
        float: left;
    }
    .history-contents h2 {
        font-family: serif;
        font-size: 20px;
        text-align: left;
        line-height: 40px;
        padding-left: 20px;
    }
}


/*---------------------------*/
/*History Parts*/
/*---------------------------*/
.tradition {
    display: block;
    margin-left: 5%;
    margin-right: 5%;
}

.tradition-img img {
    display: block;
    width: 100%;
}

.tradition-contents {
    margin: 10px 15px;
}
.tradition-contents h2 {
    font-family: serif;
    font-size: 20px;
    text-align: left;
    line-height: 30px;
}

@media only screen and (min-width: 1000px) {
    
    .tradition {
        display: inline-block;
        width: 90%;
        margin-bottom: 50px;
        
    }
    .tradition-img {
        display: block;
        width: 45%;
        float: left;
    }

    .tradition-contents {
        display: block;
        width: 45%;
        float: right;
    }
    
    .tradition-contents h2 {
        font-family: serif;
        font-size: 20px;
        text-align: left;
        line-height: 40px;
        padding-left: 20px;
    }
}

/*---------------------------*/
/*footer*/
/*---------------------------*/
