input[type=button], input[type=submit], input[type=reset] {
    background-color: lightblue;
    border: none;
    color: white;
    padding:4px 4px;
    text-decoration: none;
    margin: 4px 0;
    cursor: pointer;
}

input[type=text]:focus {
    background-color: lighblue;
}

input[type=text] {
    width: 40%;
    padding: 4px 4px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4p;
}
 
label{
width:40%;
margin:4px 0;
}



.flex-container {
  display: flex;
  justify-content: center;
  background-color: lightBlue;
  text-decoration:underline;
  width:80px;
}
 


.validated:invalid{
		background:lightblue;
}

.validated:valid{

	background:lightblue;
    }
