/* Your custom styles */
h2 {
  text-align: center;
}
hr {
  display: block;
  position: relative;
  padding: 0;
  margin: 8px auto;
  height: 0;
  width: 75%;
  max-height: 0;
  font-size: 1.5px;
  line-height: 0;
  clear: both;
  border: none;
  border-top: 1px solid #004d40;
  border-bottom: 1px solid #ffffff;
}
