footer {
    background-color: lightblue;
    border: none
    padding:4px 4px;
    text-decoration: none;
    margin: 4px 0;
    cursor: pointer;
}

input[type=text]:focus {
    background-color: lightgreen;
}

input[type=text] {
    width: 40%;
    padding: 4px 4px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4p;
}
 
label{
width:40%;
margin:4px 0;
}

h2 {
font-size:80px;
color:lightblue;
font-style:italic;
    text-align: underline center;
}


.validated:valid{
		background:#FAC3C9;
}

.validated:valid{

	background-border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: lightblue;
}
