﻿<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
</style>   

 <footer class="position-fixed w3-center w3-black w3-padding" id="bottom-footer-id">
            <a href="locateus.html" class="w3-bar-item w3-button">Locate Us</a>
            <a href="Info.html" class="w3-bar-item w3-button">Contact Us</a>
    </footer>