<nav class="fixed-nav-bar">
<div id="navbar" class="w3-top">
  <div class="position-fixed w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="index.html" class="w3-bar-item w3-button"><img src="/images/University-Logo.png" alt="University Logo" height="25" width="25"><b>University</b></a>     

      <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
        <a href="index.html" class="w3-bar-item w3-button">Home</a>
        <div class="w3-dropdown-hover">
        <button class="w3-button w3-wide">About</button>
        <div class="w3-dropdown-content w3-bar-block w3-border">
            <a href="history.html" class="w3-bar-item w3-button">History</a>
            <a href="departments.html" class="w3-bar-item w3-button">Departments</a>
            <a href="faculty.html" class="w3-bar-item w3-button">Faculty</a>
            <a href="classes.html" class="w3-bar-item w3-button">Classes</a>
            </div>
        </div>
            <a href="visit.html" class="w3-bar-item w3-button">Visit</a>
            <a href="calendar.html" class="w3-bar-item w3-button">Events</a>
            <div class="w3-dropdown-hover w3-right">
                <button class="w3-button w3-wide">Media</button>
                <div class="w3-dropdown-content w3-bar-block w3-border" style="right:0;">
                    <a href="videos.html" class="w3-bar-item w3-button ">Videos</a>
                    <a href="podcasts.html" class="w3-bar-item w3-button">Podcasts</a>

                </div>
            </div>
        </div>
  </div>
</div>
</nav>