﻿<nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="col-md-4">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button> <a class="navbar-brand" href="/index.html"><h3>Brandon Reiniger</h3></a>
            </div>
        </div><div class="col-md-8">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="menu-top-menu-container">
                    <ul id="menu-top-menu" class="nav  navbar-nav navbar-right">
                        <li id="menu-item-56" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-56">
                            <a href="/index.html">Home</a>
                        </li>
                        <li id="menu-item-58" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-58">
                            <a href="/desktop/resume.html">Resume</a>
                        </li>
                        <li id="menu-item-57" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57">
                            <a href="/desktop/projects.html">Projects</a>
                        </li>
                        <li id="menu-item-62" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-62">
                            <a href="/desktop/contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>