﻿<head>
    <style>
        #footer_container {
            bottom: 0;
            left: 0;
            position: fixed;
            width: 100%;
        }
    </style>
</head>

    <footer class="w3-center w3-black w3-padding id="bottom-footer-id">
            <a href="locateus.html" class="w3-bar-item w3-button">Locate Us</a>
            <a href="contactus.html" class="w3-bar-item w3-button">Contact Us</a>
    </footer>