﻿
    <div class="wrapper">

        <div class="box header">

            <nav style="display:block; text-align:left; " id="nav" role="navigation">
                <ul>
                    <li>
                        <a href="index.html"> Home</a>
                    <li>
                        <a href="aboutus.html">About Us</a>
                    </li>
                    <li>
                        <a href="services.html">Services</a>
                    </li>
                    <li>
                        <a href="gallery.html">Gallery</a>
                    </li>


                </ul>
            </nav>
        </div>
    </div>

