* {
    margin: 0;
    padding: 0;
}

/*---------------------------*/
/*Header*/
/*---------------------------*/

.home-key {
    color: white;
    text-decoration: none;
}

.home-key:hover {
    color: #504780; 
}

.nav {
    display: block;
    font-size: 18px;
    padding: 3% 5%;
    background-color: #bebebe;
}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
}

.dropbtn {
    font-size: 18px;
    background-color: #bebebe;
    width: 200px;
    text-align: right;
    color: white;
    border: none;
}

.dropdown-contents {
    display: none;
    font-size: 15px;
    position: absolute;
    min-width: 100%;
    overflow: auto;
    background-color: #afafaf;

}

.dropdown-contents a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-contents a:hover {
    background-color: #9a9999
}

.dropdown:hover .dropdown-contents {
    display: inline-block;
}

.dropdown:hover .dropbtn {
    color: #504780;
}

.title {
    margin: 40px 0;
    text-align: center;
    text-transform: uppercase;
}

/*---------------------------*/
/*History Parts*/
/*---------------------------*/

.history {
    display: block;
    margin-left: 5%;
    margin-right: 5%;
}

.history-img img {
    display: block;
    width: 100%;
}

.history-contents {
    margin: 10px 15px;
}
.history-contents h2 {
    font-family: serif;
    font-size: 20px;
    text-align: left;
    line-height: 30px;
}

@media only screen and (min-width: 1000px) {
    
    .history {
        width: 90%;
        display: inline-block;
        margin-bottom: 50px;
    }
    
    .history-img {
        display: block;
        width: 45%;
        float: right;
    }
    
    .history-contents {
        display: block;
        width: 45%;
        float: left;
    }
    .history-contents h2 {
        font-family: serif;
        font-size: 20px;
        text-align: left;
        line-height: 40px;
        padding-left: 20px;
    }
}


/*---------------------------*/
/*History Parts*/
/*---------------------------*/
.tradition {
    display: block;
    margin-left: 5%;
    margin-right: 5%;
}

.tradition-img img {
    display: block;
    width: 100%;
}

.tradition-contents {
    margin: 10px 15px;
}
.tradition-contents h2 {
    font-family: serif;
    font-size: 20px;
    text-align: left;
    line-height: 30px;
}

@media only screen and (min-width: 1000px) {
    
    .tradition {
        display: inline-block;
        width: 90%;
        margin-bottom: 50px;
        
    }
    .tradition-img {
        display: block;
        width: 45%;
        float: left;
    }

    .tradition-contents {
        display: block;
        width: 45%;
        float: right;
    }
    
    .tradition-contents h2 {
        font-family: serif;
        font-size: 20px;
        text-align: left;
        line-height: 40px;
        padding-left: 20px;
    }
}

/*---------------------------*/
/*footer*/
/*---------------------------*/

.footer {
    display: block;
    background-color: #bebebe;
    list-style: none;
    padding: 3% 5%;
}

.footer a {
    margin-right: 3%;
    color: white;
    text-decoration: none;
}

.footer a:hover {
    color: #504780;
}