﻿body {
    margin: 40px;
    background-color: #ECECEA;
}


.sidebar {
    grid-area: sidebar;
}

.sidebar2 {
    grid-area: sidebar2;
}

.content {
    grid-area: content;
}

.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}

.wrapper {
    background-color: whitesmoke;
    color: #444;
}

.wrapper {
    display: grid;
    grid-gap: 1em;
    /*grid-template-areas: "header" "sidebar" "content" "sidebar2" "footer" */
    grid-template-areas: "header" "sidebar" "content" "footer";
   
}

@media only screen and (min-width: 500px) {
    .wrapper {
        grid-template-columns: 20% auto;
       /* grid-template-areas: "header   header" "sidebar  content" "sidebar2 sidebar2" "footer   footer"; */
    }
}

@media only screen and (min-width: 600px) {
    .wrapper {
        grid-gap: 10px;
        /*grid-template-columns: 220px auto 220px;*/
        grid-template-columns: 620px auto;
        /*grid-template-areas: "header  header  header" "sidebar content sidebar2" "footer  footer  footer";*/
        grid-template-areas: "header  header" "sidebar content" "footer  footer";
        max-width: 100%;
    }
}

.box {
    background-color: whitesmoke;
    color: black;
    padding: 15px;
    font-size: 150%;
}

.header,
.footer {
    background-color: #000;
}

.sidebar2 {
    background-color: #ccc;
    color: #444;
}
.h1-logo {
    text-align: center;
    
    font-style:italic;


}
/* nav styles */
nav ul li {
    display: inline-block;
    padding: 0 40px 0 0;
}
.container > * {
    color: #353535;
    font-size: 1.2em;
    line-height: 1.5;
    padding: 20px;
    background: #d0cfc5;
}

.container nav {
    background: #136fd2;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    color: #d0cfc5
}

    nav a:hover {
        text-decoration: none;
    }