﻿<footer class="footer-bottom" style="background-color: " ;>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3 col-xs-12 col-sm-12"></div><div class="col-md-3 col-xs-12 col-sm-12 "></div><div class="col-md-3 col-xs-12 col-sm-12"></div><div class="col-md-3 col-xs-12 col-sm-12"></div>
            </div><div class=" col-md-12 col-sm-12  fnav text-center">
                <p>
                    ALL RIGHTS RESERVED. COPYRIGHT &#169; 2018.
                </p>
            </div>
        </div>
    </div>
</footer>